Django
python-dotenv
Pillow
django-filter
django-crispy-forms
crispy-bootstrap5
django-widget-tweaks
django-import-export
django-extensions
matplotlib
pandas
django-tabbed-admin==1.0.3
reportlab
django-simple-history
django-axes
django-cors-headers
gunicorn
whitenoise
django-jazzmin
django-phonenumbers
django-phonenumber-field
django-countries
django-extensions
pyOpenSSL
django-tabbed-admin
"737-325-093"