{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<div id="login-wrapper" style="text-align:center; padding-top:150px;"> <!-- mais espaço no topo -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- Logo -->
    <div style="margin-bottom:50px;"> <!-- separação da logo para o formulário -->
        <img src="{% static 'img/logo.png' %}" 
             alt="Logo do Laboratório" 
             style="max-width:600px; height:auto;">
    </div>

    <!-- Formulário de login -->
    <div style="display:inline-block; text-align:left; padding:20px; border:1px solid #ccc; border-radius:8px; background-color:#f9f9f9; min-width:320px; max-width:400px; width:100%;">
        {% if form.errors %}
            <p class="errornote" style="color:red; font-weight:bold;">Usuário ou senha inválidos.</p>
        {% endif %}
        <form method="post" action="{% url 'admin:login' %}">{% csrf_token %}
            <div class="form-row" style="margin-bottom:10px;">
                {{ form.username.label_tag }}<br>
                {{ form.username }}
            </div>
            <div class="form-row" style="margin-bottom:10px;">
                {{ form.password.label_tag }}<br>
                {{ form.password }}
            </div>
            <div class="submit-row" style="text-align:right;">
                <input type="submit" value="Entrar" class="default">
            </div>
        </form>
    </div>

</div>

<div class="login-logo">
    <img src="{% static 'img/logo.png' %}" alt="Logo do Laboratório">
</div>


{% endblock %}
