{% extends "admin/change_form.html" %}
{% load static i18n admin_urls %}

{% block submit_buttons_top %}
    {{ block.super }}
    <a class="button" href="{% url 'lab:pdf_requisicao' original.id %}">PDF Requisição</a>
    <a class="button" href="{% url 'lab:pdf_resultados' original.id %}">PDF Resultados</a>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a class="button" href="{% url 'lab:pdf_requisicao' original.id %}">PDF Requisição</a>
    </li>
    <li>
        <a class="button" href="{% url 'lab:pdf_resultados' original.id %}">PDF Resultados</a>
    </li>
{% endblock %}
